@import './variables';
@media (min-width: 1400px) { 
    .hot-deals{
        .deals-product{
            .deals-heading{
                padding:7rem 0.1rem;
                h5{
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .blog-part{
        .blog-image{
            .blog-description {
                left: 0;
                margin: 0 0 0 5px;
                right: 2%;
                a{
                    padding-right:25px;
                }
            }
        }
    }
    .search-part{
        position: relative;
        width:60%;
        float:right;
    }
    .search-icon{
        position: absolute;
        bottom: 33%;
        right: 10%;  
    }
 }
 
@media (max-width: 1400px) { 
    .blog-part {
        .blog-image{
            .blog-description {
                left: 0;
                margin: 0 0 0 5px;
                right: 2%;
            }
        }
    }
    .search-part{
        position: relative;
        width:60%;
        float:right;
    }
    .search-icon{
        position: absolute;
        bottom: 33%;
        right: 10%;  
    }
 }
@media (max-width: 1200px) { 
/*hero*/
    .hero{
        .carousel-caption{
            text-align: center;
            width: 50%;
            left: 25%;
            top: 50%;   
            h3{
                font-size:30px; 
            }
            p{
                font-size:18px;
                line-height: 30px;
            }
            .btn-primary{
                padding:5px 20px;
            }
        }
    }
 /*hot deals */
    .hot-deals{
        .deals-product{
            .deals-heading{
                padding:5rem 0.1rem;
                h5{
                    font-size: 15px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    /*our Products*/
    h2.main-heading{
        &::before{
            left:18%;
        }
        &::after{
            right:18%;
        }
    }
    .newsletter-signup {
        .btn-primary{
            left:50%;
        }
    }.product-image{
        .product-overlay-icon{
            left:0%;
            width:100%;
        }
    }
/*blogpart*/
    .blog-part{
        .blog-image{
            .blog-description {
                bottom: 10px;
                left: 0;
                padding-right: 0px;
                ul{
                    padding-left: 0;
                    text-align: center;
                }
            }
        }
    }
    /*highlights*/
    .highlight-box{
        padding:50px 20px;
    }
    .highlight-text h5{
        font-size: 17px;;
    }
    .highlight-box .highlight-text p{
        font-size: 14px;
        line-height: 18px;
    }
 }
@media (max-width: 992px) {
/*header */ 
    .mid-header{
        .navbar-light{
            .navbar-nav{
                padding:10px;
                background-color:$secondaryColor;
                margin-bottom: 0 !important;
                padding-bottom: 0;
                .show>{
                    .nav-link{
                        color:$darkYellow;
                        &:active{
                            color:$darkYellow;
                        }
                     }
                }
            }
            .navbar-toggler{
                color:transparent;
            }
            .navbar-toggler-icon.bg-black{
                background-image:url(../../assets/images/menubar.png);
            }
        }
        .header-icons {
            margin-top: 0px;
            background-color:$secondaryColor;
            padding:10px;
        } 
    } 
    .box{
        position:relative;
        top:0;
        left:0;
        transform:none;
        padding-left:0;
        .input {
            margin-right:10px;
            &:hover{
                width:215px;
            }
        }
        i{
            right:19px;
        }
    }
/*carousel*/
    .hero{
        .carousel-caption{
            text-align: center;
            width: 50%;
            left: 25%;
            top: 60%;
        }
    }

/*hot deals*/
    .hot-deals{
        .deals-product{
            .deals-heading{
                padding:3rem 0.1rem;
            }
        }
    }
   
/*our-products*/
    h2.main-heading{
        &::before{
            width:70px;
            left: 18%;
            top: 40%;
        }
        &::after{
            width:70px;
            right: 18%;
            top: 40%;
        }
    }
    .product-image{
        .product-overlay-icon{
            left:5%;
            width:80%;
            a{
                padding:8px;
            }
        }
    }

 /*newsletter*/
    .newsletter-signup {
        .btn-primary{
            left:70%;
        }
    }
/*featured product */
    .feature-product img{
        width:100%;
    }
/* blog */
    .blog-part {
        .blog-image{
            .blog-description{
                padding-right: 0;
                bottom: 10%;
                left: 3%;
                padding-bottom: 10px;
                margin:0;
                ul{
                    margin-bottom: 0;
                    font-size:12px;
                    li{
                        padding-right: 5px;
                        a{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        a{
            h5{
                padding:0;
            }
        }
    }
/*highlight-text*/
.highlights{
    .highlight-box{
        padding:50px 20px;
        .highlight-text {
            h5{
            font-size: 17px;
            }
            p{
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

/*footer*/
    .footer {
        .footer-address {
            i{
                font-size: 15px;
            }
        }
        .footer-help,
        .footer-menu,
        .footer-address{
            a{
                font-size: 13px;
            }
        }
    }
/*categories*/
    .categories-parts .btn-primary{
        width:100%;
    }
    .accordion .link{
        padding:10px 10px 10px 10px;
        font-size: 12px;
    }
    .accordion li i.fa-chevron-down{
        font-size: 12px;
        right:10px;
        top:12px;
    }
    .submenu{
        font-size: 12px;
    }
    .submenu a{
        padding: 10px;
    }
    .filter-content .form-control{
        padding: 5px;
        font-size: 12px;
        width:60%;
    }
    .filter-button .btn-primary{
        font-size: 12px;
    }
    .main-text .sale-tag{
        width:22px;
        right:10%;
    }
}
@media (max-width: 768px) { 
/*header*/
    .top-header{
        display: none;
    }

/*carousel*/
    .hero{
        .carousel-item{
            height:0px;
            .carousel-caption{
                top: 60%;
                text-align: center;
                width: 52%;
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .btn-primary{
                font-size: 15px;
                padding:5px 10px;
            }
        }

    }

/*hot- deals */
.hot-deals{
    .deals-product{
        margin-bottom: 0px;
        .deals-heading{
            padding:2rem 0.1rem;
            h5{
                padding-bottom: 10px;
            }
            .btn-primary{
                font-size: 12px;
            }
        }
    }
}

/*our-products*/
    h2.main-heading{
        font-size: 20px;
        &::before{
            width:45px;
            left: 20%;
            top: 43%;
        }
        &::after{
            width:45px;
            right: 20%;
            top: 43%;
        }
    }
    p.sub-heading{
        font-size: 14px;
    }
    .product-image{
        .product-overlay-icon{
            left:0%;
            padding:10px;
            width:95%;
            top:28%;
            a{
                padding:6px;
            }
        }
        p{
            font-size: 15px;
        }
    }

    h3.product-title{
        font-size: 15px;
        padding-top: 10px;
        margin-bottom: 0px;
    }


/*blog image*/
    .blog-part{
        .blog-image{
            text-align: center;
            .blog-description{
                left:2%;
                margin:0;
                ul{
                    font-size: 12px;
                    li{
                        padding-right: 5px;
                    }
                }
            }
        }
        h5{
            padding-top: 10px;
        }
        h5,
        p{
            text-align: center;
        }
    }
/*categories-page*/
    .search-part{
        width:100%;
        float:none;
    }
    .breadcrumb { 
        li{
        font-size: 12px;
        }
    }

    .categories-button {
        .categories-parts{
            .btn-primary{
                width:85%;
            }
        }
    } 
    .sidebar-menu {
        .accordion {
            .link{
                padding:10px 10px 10px 10px;
                font-size: 12px;
            }
            li{
                i.fa-chevron-down{
                    right:10px;
                    top:10px;
                }
            }
            .submenu {
                a{
                    padding:8px;
                }
            }
        }
    }
/*product-detail*/  
    .main-heading h1{
        font-size: 22px;
    }
    .price-detail p.product-price{
        font-size: 18px;
    }
    .color-detail ul li a i{
        font-size: 20px;
    }
    .sku-detail{
        width:100%;
    }
    .wishlist-button button.btn.btn-primary.btn-sm{
        font-size: 12px;
    }
    .tablink{
        width:30%;
        font-size: 10px;
        padding:10px;
     }
    .similar-products .sale-tag{
        width:22px;
        right:10%;
    }
    .similar-products .product-overlay-icon{
        top:35%;
        left:11%;
    }
    /*cart-page */
    .shopping-cart h3,
    .order-summary h3{
        font-size: 18px;
    }
    .media img{
        width:50px;
        height:70px;
    }
    .cart-main table .form-control{
        width:80%;
    }
    .cart-main .media-body{
        padding-left: 60px;
    }
    .cart-main .table th{
        font-size: 11px;
    }
    h4.media-heading, h5.media-heading{
        font-size: 12px;
    }
    .login_wrapper h2::before, .login_wrapper h2::after{
        width:45px;
    }
    /*footer*/
    .footer {
        p.footer-description{
            font-size: 12px;
        }
        img{
            height: 35px;
        }
        ul{
            li{
                i{
                    padding-right: 0px;
                }
            }
        }
        
    }

}
@media (max-width: 576px) { 

/*header*/
    .box{
        .input {
            &:hover{
                width:165px;
            }
        }  
    }
/*hero*/
    .hero{
        .carousel-caption {
            h3{
            font-size: 25px;
            }
        }
        
    }
/*hot Deals*/
.hot-deals{
    .deals-product{
        margin-bottom:20px;
        .deals-heading{
            padding:2.5rem 0.1rem;
            h5{
                font-size: 18px;
            }
        }
    }
}
/*our products*/
    h2.main-heading{
        &::before{
            left:5%;
            width:40px;
        }
        &::after{
            right:5%;
            width:40px;
        }
    }
    .product-image{
        padding-bottom: 10px;
        .product-overlay-icon{
            left:15%;
            width:60%;
            padding:10px;
            top:45%;
            a{
                padding:18px;
            }
            i{
                font-size: 18px;
            }
        }
    }
/*blog*/
.blog-part{
    .blog-image{
        .blog-description{
            left:2%;
            padding-bottom: 10px;
            li{
                padding-left: 40px;
            }
            a{
                padding-right: 10px;
            }
        }
    }
    h5{
        padding-top: 10px;
    }
}
/*hightlights*/
    .highlights{
        .highlight-box {
            .highlight-text{
                padding-left: 45px;
            }
        }
    }

/* category page*/

/*breadcrumbs*/
.breadcrumb-search{
    .breadcrumb{
        a{
            font-size: 14px;
        }
    }
}
.categories-button{
    .categories-parts {
        .btn-primary{
            width:80%;
        }
    }
} 
/*product-detail*/
.container.breadcrumb-part{
    padding:0;
}

.stock-rating ul.star-rating{
    text-align: left;
    padding-left: 0;
}
.main-heading h1{
    font-size: 25px;
}
.price-detail p.product-price{
    font-size: 20px;
}
.color-detail ul li a i{
    font-size: 20px;
}
.sku-detail{
    width:100%;
}
.wishlist-button button.btn.btn-primary.btn-sm{
    font-size: 12px;
}
.tablink{
    width:30%;
    font-size: 10px;
    padding:10px;
 }
 .similar-products .sale-tag{
     width:40px;
     right:3%;
 }
 .main-text .sale-tag{
    right:3%;
    width:40px;
}
 /*cart page */
 .shopping-cart h3,
 .order-summary h3{
     font-size: 18px;
 }
 .media img{
     width:50px;
     height:70px;
 }
 .cart-main .media-body{
     padding-left: 60px;
 }
 .cart-main .table th{
     font-size: 11px;
 }
 h4.media-heading, h5.media-heading{
     font-size: 12px;
 }

 }






 


