//variables
$font-Stack:'Arial', sans-serif;
$lightGrey:#707070;
$darkYellow:#F1C40F;
$primaryColor:#ffffff;
$secondaryColor:#000000;
$lightBlue:#ecf0f1;
$lightBlack:#ababab;
$starColor:#ef9e08;
$facebook:#3b5998;
$googleplus:#db4c3e;
$facebook-hover:#8b9dc3;
$googleplus-hover:#bd4033;